* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;

}

#logo2d {
    width: 200px;
    position: absolute;
    margin-top: 20px;
    margin-left: 140px;
}

nav {
    width: 100%;
    height: 65px;
    background-color: #323231;
    display: flex;
    justify-content: end;
    color: white;
}

#divnav {
    margin-top: 4px;
    padding: 17px;
   
}

.nav2 {
    margin-right: 13px;
    font-family: 'Jockey One', sans-serif;
    font-size: 22px;
    cursor: pointer;
}

.img1 { position: relative;
    margin-left: -100px;
    box-sizing: border-box;
    width:390px;
    border-radius: 50px;
    border: 8px solid #323231; ;
}

#main1 {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 690px;
    color: #D9D9D9;
    padding:20px 90px 20px 20px;
    background: #323231;
    height: 440px;
    margin: 40px auto;
    
}

#titulo1 {
    font-size: 45px;
    font-family: 'Jockey One', sans-serif;

}

#titulo2 {
    font-size: 35px;
    margin-top: 1px;
    font-family: 'Jockey One', sans-serif;
}

#logowhats {
    width: 60px;
    margin-right: 10px;
}

#button {
    margin: 30px auto;
    border: none;
    border-radius: 50px;
    width: 400px;
    height: 140px;
    background: #D9D9D9;
    color: #323231;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    font-family: 'Jockey One', sans-serif;
    font-size: 45px;

}

#button:hover {
    transform: scale(1.05);
    background: linear-gradient(rgb(8, 182, 2), rgb(17, 104, 5));
    color: white;
}

#titulo3 {
    font-size: 20px;
    width: 500px;
    margin: auto;
    text-align: center;
}

#container {
    text-align: center;
    margin-top: 150px;

}

@media only screen and (max-width: 640px) {

    body {
        width: 100vw;
        height: 120vh;
        margin-bottom: 50px;
    }

    #logo2d { position: absolute;
        top: 8%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0px;
    }

    nav {
        width: 100%;
        height: 110px;
        background-color: #323231;
        display: flex;
        align-items: center;
        color: #323231;
    
    }

    #divnav {
        display: none;
    }

    .nav2 {
        margin-right: 5px;
        font-family: 'Jockey One', sans-serif;
        font-size: 10px;
    }

    .img1 {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        width: 350px;
        border-radius: 50px;
        margin: 0px auto;
    }

    #main1 {
        width: 350px;
        height: 280px;
        padding: 10px;
        margin: 15px auto;
    }

    #titulo1 {
        font-size: 28px;
        width: 100%; margin-top: 20px;
    }

    #titulo2 {
        font-size: 26px;width: 100%;
        margin-bottom: 0px;
    }

    #logowhats {
        width: 30px;
    }

    #button {
        width: 80%;
        height: 50px;
        font-size: 20px;
        margin: 20px auto;
    }

    #titulo3 {
        width: 80%; 
         font-size: 12px; width: 100%;

    }
#container {
    text-align: center;
    margin-top: 0px;

}}