#sectionPag3 {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.imgPag3 {
    width: 250px;
    border-radius: 40px;
    margin: 5px;
    border: #d9d9d9 5px solid;
    transition: transform 0.3s ease-in-out
}

.imgPag3:hover {
    transform: scale(1.05);
}

#mainPag3 {
    background-color: #323231;
    padding: 20px;
    border-radius: 50px;

}

#tituloPag3 {
    margin-bottom: 10px;
    font-family: 'Jockey One', sans-serif;
    font-size: 34px;
    color: #d9d9d9;
}

.logoPg3 {
    width: 250px;
    margin-bottom: 40px;
}

#fraseFinalFotos {

    font-size: 30px;
    font-family: 'Jockey One', sans-serif;
    font-style: italic;
    color: #323231;
}


#novaImg {
    width: 120px;
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
    animation: floatAnimation 2.5s infinite;
}


@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}